# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.source.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\wiiwi\Documents\GitHub\Funkin-master\source\.idea\.idea.source.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
